*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow:auto;

}

body {
  background-color: rgb(255, 255, 255);
  margin-top: 40px; /* Adicione um espaço no topo para acomodar o navbar fixo */
}

nav {
  background-color:rgb(236, 236, 236);
  position: absolute; /* Torna o navbar fixo */
  width: 100%; /* Define a largura total */
  top: 0; /* Posiciona o navbar no topo */
  z-index: 999; /* Garante que o navbar esteja acima de outros elementos */
}



nav li.sobreactive a {
  color: rgb(0, 0, 0); /* Altere a cor do texto conforme necessário */
  border-radius: 5%;
  padding: 5px;
  margin: 2px;
  font-size: 14px;
  text-decoration:underline;
}

nav li{
  display: inline-block;
  cursor: pointer;
}

nav li a {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-decoration: none;
  padding: 8px; 
  font-family:sans-serif;
  cursor: pointer;

}
 
nav li a:hover{
  padding: 5PX;
  background-color: rgb(206, 206, 206);
  color: rgb(3, 3, 3);
  z-index: 1;
  border-radius: 5%;
  transition: all 0.2s; 
  margin: 3px;
}


.submenu{
    position: absolute;
    display: none;
}

.submenu a{
    display: block;
    color: rgb(218, 213, 213);
 
}

.menu:hover .submenu{
  margin-top: -2PX;
  display: block;
  background-color: rgb(45, 70, 116);
  z-index: 1;
  border-radius: 5%;
  transition: all 0.2s;
 }

.paineis {
  margin: 0;
  min-height: 90vh;
  overflow: hidden;
  height: 100vh;
}

iframe {
  border: none;
}

.login img {
  width: 80%;
  margin-left: -55px;
  box-shadow: 1px 2px 16px rgb(0, 21, 207);

}

.login img:hover {
  border-radius: 5px;
  box-shadow: 1px 2px 16px rgb(0, 0, 0);
  transition: 0.7s;
  cursor: pointer;
}

.conteudo3 {
  text-align: justify;
  margin-left: 10%;
  margin-top: 56px; /*Ajusta a margem superior para acomodar o navbar fixo*/
  font-size: 16px;
  padding-top: 1px;
  color: rgb(20, 20, 20);
  padding-right: 170px;
  font-family: sans-serif;
}

.texto {
  text-align: justify;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: sans-serif;
  color: rgb(255, 255, 255);

}

.fundo_texto {
  margin-top: 20PX;
  background-color: #119100;
  width: 100%;
}

footer {
  color: rgb(248, 248, 248);
}


.caixa {
  margin-top: 1%;
  background-color: rgb(238, 238, 238);opacity: 0.9;
  height: 100%;
  }


 